@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// geral

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-blue: #5D8F8C;
    --white:#fff;
    --dark: #000;

}

body {
    font-family: 'Poppins', sans-serif;

    .button {
        width: 250px;
        height: 70px;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--green-blue);
        border-radius: 20px;

        color: var(--white);
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;

        &:hover {
            background-color: #3f6462;
        }
    }

    .sliders-pointers {
        width: 100%;
        height: 20px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 150px;

        .pointer {
            width: 15px;
            height: 15px;

            border: 2px solid var(--green-blue);
            border-radius: 8px;

            margin: 0px 5px;

            cursor: pointer;
        }

        .active {
            background-color: var(--green-blue);
        }
    }
}

li, a {
    text-decoration: none;
    list-style: none;
}

.tw {
    background-color: #50ABF1;
}

.lin {
    background-color: #0077B7;
}

.fac {
    background-color: #4664A5;
}

.goo {
    background-color: #E94235;
}

.pin {
    background-color: #E60023;
}

// geral

main {
    width: 100%;
    height: 100vh;

    background-color: #292929;

    background-image: url(../assets/banner-1.jpg);
    background-size: cover;
}

header {
    width: 100%;
    height: 100px;

    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    .header {
        max-width: 1540px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;


        .logo {
            width: 120px;
            text-align: center;

            a h1 {
                color: var(--white);
                font-size: 36px;
                font-weight: 700;

                user-select: none;

                span {
                    color: var(--green-blue);
                }
            }
        
        }

        .menu {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            ul {
                display: flex;
                gap: 45px;

                user-select: none;


                li a {
                    color: var(--white);
                    font-size: 17px;
                    font-weight: 400;

                    height: 100px;
                    display: flex;
                    align-items: center;

                    border: 5px solid transparent;

                    &:hover {
                        border-bottom: 5px solid var(--green-blue);
                        color: #cecece;
                    }

                }
            }
        }
}

}

.main {
    width: 100%;
    height: calc(100vh - 100px);

    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.35);

    overflow: hidden;

    .sliders {
        height: 100%;
        width: 1000vw;

        .slide {
            width: 100vw;
            height: 100%;

            display: inline-block;

            .slide-area {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                text-align: center;

                height: 100%;

                color: var(--white);
                user-select: none;

                padding-top: 180px;
                h1 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 100px;

                    span {
                        color: var(--green-blue);
                    }
                }

                h2 {
                    text-transform: uppercase;
                    font-size: 30px;
                    margin: 20px 0px;
                }
            }
        }
    }

    .sliders-pointers {
        width: 100%;
        height: 20px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        padding-top: 150px;

        .pointer {
            width: 15px;
            height: 15px;

            border: 2px solid var(--green-blue);
            border-radius: 8px;

            margin: 0px 5px;

            cursor: pointer;
        }

        .active {
            background-color: var(--green-blue);
        }
    }
}

// mock-up das sections

.mockup {
    padding: 50px 0;

    user-select: none;

    .section-title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .section-desc {
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        color: #6D6D6D;
    }

    .section-body {
        max-width: 1440px;
        margin: auto;
    }
}

.mockup.light {
    .section-title {
        color: #000;
    }

    .section-desc {
        color: #6D6D6D;
    }
}

.mockup.dark {
    background-color: #000;
    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.35);
    

    .section-title {
        color: #fff;
    }

    .section-desc {
        color: #999;
    }

    .section-body {
        color: var(--white);
    }
}

// mock-up das sections

// INICIO SECTIONS

.section-aboutus {
    display: flex;
    padding-top: 40px;


    .aboutus {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h1 {
           font-size: 30px;
           font-weight: 600;
           
        }

        p {
            font-size: 20px;
            font-weight: 400;
            text-align: center;
            color: var(--dark);
        }

    }
}

.section-services {
    display: flex;
    justify-content: center;
    width: 100%;

    .services {
        flex: 1;
        text-align: center;
        border-right: 1px solid #999999;

        display: flex;
        flex-direction: column;

        gap: 30px;

        margin-top: 60px;

        &:first-child {
            border-left: 1px solid #999999;
        }

        i {
            font-size: 70px;
            color: var(--green-blue);
        }

        h4 {
            font-size: 25px;
            font-weight: 600;
        }

        p {
           font-size: 17px;
           font-weight: 400px; 
        }
    }
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;

    .projects-menu {
        width: 840px;
        height: 80px;

        background-color: var(--green-blue);
        border-radius: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;

            li {
                display: flex;
                padding: 22px 25px;

                border-bottom: 5px solid var(--green-blue);

                &:hover {
                    border-bottom: 5px solid var(--white);
                }

                a {
                    font-size: 20px;
                    color: var(--white);
                    font-weight: 400;
                }
            }
        }
    }
    .projects-photos {
        display: flex;
        flex-wrap: wrap;

        padding: 40px 0px;

        .photos {
            position: relative;

            width: 350px;
            height: auto;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: inherit;
                height: inherit;
                padding: 10px 10px;

                border-radius: 20px;

            }

            .info-photos {
                position: absolute;

                width: 330px;
                height: 205px;

                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 10px;


                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 23px;
                    font-weight: 600;
                    padding-bottom: 10px;

                    color: var(--white);
                }

                p {
                    font-size: 15px;
                    font-weight: 400;

                    color: #cccccc;
                }
            }

            &:hover .info-photos {
                display: flex;
            }
        }
    }

}

.bg-team {
    background-image: url(../assets/banner-team.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;


    .team-container {
        background: rgba(0, 0, 0, 0.7);
        padding-top: 60px;

        .section-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .sliders-pointers {
                padding-bottom: 90px;
            }
        }

        .section-team {
            padding: 60px 0;
            max-width: 1440px;


            overflow: hidden;
            margin: auto;

            .sliders-team {
                display: flex;
                justify-content: center;
                align-items: center;

                gap: 120px;

                .team-area {
                    width: 400px;
                    height: 480px;

                    background-color: var(--dark);
                    border-radius: 20px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 183px;
                        height: auto;

                        padding-bottom: 15px;
                    }

                    h1 {
                        font-size: 30px;
                        font-weight: 600;
                    }

                    p {
                        font-size: 17px;
                        font-weight: 400;
                    }

                    .team-social {
                        display: flex;
                        gap: 25px;
                        padding-top: 60px;

                        a {
                            width: 40px;
                            height: 40px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            border-radius: 20px;

                            transition: all 0.3s;

                            &:hover {
                                background-color: var(--green-blue);
                                border-radius: 20px;
                            }
                        }
                        i {
                            font-size: 26px;
                            color: var(--white);
                            font-weight: 400;
                        }
                    }
                }
            }
    }
} 
}  

.section-clients {
    padding-top: 40px;

    .clients {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 220px;
            height: auto;

            padding-bottom: 15px;
        }

        h1 {
            font-size: 25px;
            font-weight: bold;
        }

        h4 {
            font-size: 17px;
            font-weight: 400;

            padding-bottom: 55px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            line-height: 38px;
        }
    }
}

.bg-publi {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;

    width: 100%;
    margin: auto;

    .section-publi {
        max-width: 1440px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        gap: 170px;
    }
}

.bg-price {
    width: 100%;

    background-color: #cecbcb;

    border-bottom: 1px solid #999999;

    .section-price {
        padding-top: 60px;
        max-width: 1440px;
        width: 100%;


        display: flex;
        justify-content: center;


        .cards-price {
            display: flex;
            justify-content: space-between;
            width: 100%;


            .price-card {
                width: 345px;
                height: 550px;

                background: linear-gradient(180deg, #5D8F8C 0%, #FFFFFF 100%);
                border-radius: 20px;
                border-bottom: 3px solid var(--green-blue);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h3 {
                    font-size: 23px;
                    font-weight: 600;
                }

                .division-1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h3 {
                        font-size: 50px;
                        font-weight: 600;
                    }
                    h4 {
                        position: relative;
                        top: -15px;
                        font-size: 13px;
                        font-weight: 400;
                        color: #7C7C7C;
                    }
                }

                p {
                    position: relative;
                    top: -15px;
                   font-size: 17px;
                   font-weight: 400;
                   padding: 15px; 
                }
            }

            .button {
                background-color: #353535;

                transition: all 0.5s;

                &:hover {
                    background-color: var(--green-blue);
                }
            }
        }
    }
}

.section-body.price {
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .sliders-pointers {
        position: relative;
        top: -220px;
    }

    .button {
        position: relative;
        top: -100px;
    }


}

.section-price {
    padding-top: 40px;

    max-width: 1440px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .text-premium {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .division-2 {
                display: flex;
                align-items: center;
                gap: 20px;
                position: relative;
                left: -90px;

                i {
                  font-size: 70px;
                  color: var(--green-blue);  
                }

                h1 {
                    font-size: 32px;
                    font-weight: 600;  
                }
            }

            p {
                font-size: 20px;
                font-weight: 400;
                color: #6D6D6D;
                
                padding-bottom: 10px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    font-size: 17px;
                    font-weight: 400px;
                    color: #6D6D6D ;
                }
            }
        }
    }
}

.section-facts {
    padding-top: 40px;
    padding-bottom: 60px;

    max-width: 1440px;
    width: 100%;

    .cards-facts {
        width: 100%;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .card-facts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            h1 {
               font-size: 80px;
               font-weight: bold;
               color: var(--green-blue); 
            }

            h2 {
                text-align: center;
                font-size: 30px;
                font-weight: bold;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    .min {
        p {
            position: relative;
            top: 46px;
        }
    } 
}

.bg-social {
    border-top: 1px solid #6D6D6D;

    .section-body {
        display: flex;
        justify-content: space-between;

        .social-left {
            display: flex;
            align-items: center;
            gap: 15px;

            i {
                font-size: 32px;
                color: var(--green-blue);
            }

            p {
                font-size: 13px;
                font-weight: 600;
            }
        }

        .social-right {
            display: flex;
            align-items: center;
            gap: 40px;

            .social-content {
                display: flex;
                align-items: center;
                gap: 10px;

                .media {
                    width: 50px;
                    height: 50px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 25px;

                    i {
                        font-size: 26px;
                        color: var(--white);
                    }
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }
}

.bg-contact {
    background: linear-gradient(180deg, #000000 0%, #FFFFFF 100%);

    .section-contact {
        max-width: 1440px;
        width: 100%;

        padding-top: 220px;
        padding-bottom: 100px;

        form {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: 60px;

            .division-3 {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .labeluser {
                    display: flex;
                    flex-direction: column;
                    

                    input {
                        position: relative;
                        width: 685px;

                        background: none;
                        border: none;
                        border-bottom: 2px solid var(--dark);
                        outline: none;

                        color: var(--white);
                        font-size: 17px;
                    }
                }
            }

            input {
                padding: 0px 10px;

                width: 1440px;

                background: none;
                border: none;
                border-bottom: 2px solid var(--dark);
                outline: none;

                color: #000000;
                font-size: 17px;

            }
        }
    }
}

.bg-map {
    background-image: url(../assets/bg-map.svg);
    background-size: cover;
    background-position: center;
    padding: 0;

    .map-container {
        background: rgba(0, 0, 0, 0.8);
        padding-top: 60px;
        padding-bottom: 20px;

        .section-map {
            width: 800px;
            height: 500px;

            background-color: var(--white);
            border-radius: 20px;

            padding: 60px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 65px;

            .informations {
                display: flex;
                flex-direction: column;

                .inform {
                    display: flex;
                    gap: 35px;

                    i {
                       font-size: 32px; 
                    }

                    span {
                        font-size: 17px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .return-home {
        width: 100%;
        position: relative;
        top: 70px;
        a {
            width: 100px;
            height: 100px;

            background-color: var(--green-blue);
            border-radius: 50px;
            border: 7px solid var(--dark);

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 0.3s;

            &:hover {
                opacity: 0.9;
            }

            i {
                font-size: 32px;
                color: var(--white);
            }
        }
    }
}

footer {
    background-color: var(--dark);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .content-footer {
        max-width: 1440px;
        width: 1440px;

        padding-top: 100px;
        padding-bottom: 30px;

        color: var(--white);

        display: flex;
        justify-content: space-between;

        .left-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .footer-social {
                display: flex;
                align-items: center;
                gap: 35px;

                a {
                    width: 40px;
                    height: 40px;

                    border-radius: 20px;
                    background-color: #6D6D6D;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: background-color 0.5s;

                    &:hover {
                        background-color: var(--green-blue);
                    }
                }

                i {
                    font-size: 26px;
                    color: var(--white);
                }
            }

            h1 {
                font-size: 22px;
                font-weight: bold;
            }
        }

        .right-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;


            p {
                font-size: 13px;
                font-weight: 400;
                text-align: center;

            }

            .box-sub {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 320px;
                height: 215px;

                background-color: #6D6D6D;
                border-radius: 20px;

                label {
                    font-size: 15px;
                    font-weight: 400;
                }

                input {
                    background: none;
                    border: none;
                    outline: none;

                    width: 240px;
                    padding: 3px 10px;

                    border-bottom: 1px solid #999999;

                    color: var(--dark);
                }

                a {
                    margin-top: 32px;

                    width: 200px;
                    height: 50px;

                    background-color: var(--green-blue);
                    border-radius: 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 17px;
                    font-weight: bold;
                    color: var(--white);
                }
            }

        }
    }
}