@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* ============= TAGS DE CONFIGURAÇÃO ============= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: var(--dark);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green-blue);
    border-radius: 5px;
    border: 2px solid var(--dark);
}

:root {
    --green-blue: #5D8F8C;
    --white:#fff;
    --dark: #000;

}

/* ============= FINAL DAS TAGS DE CONFIGURAÇÃO ============= */

@import "./partials/_body.scss";
@import "./partials/_background.scss";
@import "./partials/sections/_about.scss";
@import "./partials/sections/_services.scss";
@import "./partials/sections/_projects.scss";
@import "./partials/sections/_clients.scss";
@import "./partials/sections/_price.scss";
@import "./partials/sections/_facts.scss";

header {
    width: 100%;
    height: 100px;

    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;

    .header {
        max-width: 1280px;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;


        .logo {
            width: 120px;
            text-align: center;

            a h1 {
                color: var(--white);
                font-size: 36px;
                font-weight: 700;

                user-select: none;

                span {
                    color: var(--green-blue);
                }
            }
        
        }

        .menu {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            ul {
                display: flex;
                gap: 45px;

                user-select: none;


                li a {
                    color: var(--white);
                    font-size: 17px;
                    font-weight: 400;

                    height: 100px;
                    display: flex;
                    align-items: center;

                    border: 5px solid transparent;

                    &:hover {
                        border-bottom: 5px solid var(--green-blue);
                        color: #cecece;
                    }

                }
            }
        }
}

}

footer {
    background-color: var(--dark);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .content-footer {
        max-width: 1440px;
        width: 100%;

        padding-top: 100px;
        padding-bottom: 30px;

        color: var(--white);

        display: flex;
        justify-content: space-between;

        .left-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .footer-social {
                display: flex;
                align-items: center;
                gap: 35px;

                a {
                    width: 40px;
                    height: 40px;

                    border-radius: 20px;
                    background-color: #6D6D6D;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: background-color 0.5s;

                    &:hover {
                        background-color: var(--green-blue);
                    }
                }

                i {
                    font-size: 26px;
                    color: var(--white);
                }
            }

            h1 {
                font-size: 22px;
                font-weight: bold;
            }
        }

        .right-footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;


            p {
                font-size: 13px;
                font-weight: 400;
                text-align: center;

            }

            .box-sub {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 320px;
                height: 215px;

                background-color: #6D6D6D;
                border-radius: 20px;

                label {
                    font-size: 15px;
                    font-weight: 400;
                }

                input {
                    background: none;
                    border: none;
                    outline: none;

                    width: 240px;
                    padding: 3px 10px;

                    border-bottom: 1px solid #999999;

                    color: var(--dark);
                }

                a {
                    margin-top: 32px;

                    width: 200px;
                    height: 50px;

                    background-color: var(--green-blue);
                    border-radius: 20px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 17px;
                    font-weight: bold;
                    color: var(--white);

                    transition: all 0.3s;

                    &:hover {
                        background-color: #3f6462;
                    }
                }
            }

        }
    }
}


